DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
DATABASE_URL="mysql://root@127.0.0.1:3306/spendly"
APP_URL=http://localhost
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME=Spendly
MAIL_ENCRYPTION=tls
